## Importing all neccessary files and loading the dataset

In [20]:
# Importing the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re # import regex
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
# Loading the dataset
dataset = pd.read_csv('Sport car price.csv')

print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   object
 5   Torque (lb-ft)           1004 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   object
dtypes: int64(1), object(7)
memory usage: 63.1+ KB
None

## Preprocessing the data

1. dataset.iloc[:, :-1].values selects all the columns of the dataset except for the last column (which is assumed to be the dependent variable). The iloc method is used to select rows and columns by integer position. [:, :-1] means to select all rows and all columns except for the last one.

2. .values is used to convert the resulting DataFrame object into a NumPy array

3. dataset.iloc[:, -1].values selects only the last column of the dataset, which is assumed to be the dependent variable.


## Observations :-

only columns engine size and torque have NaN values, repair needed, 2 options :-  
1. drop those rows 
2. imputing the missing values with the mean, median, or mode of the respective columns

### Note :-

Whether to drop rows with missing values or impute them depends on the amount of missing data, the percentage of missing data, the reasons for missing data, and the impact of missing data on the analysis.In the case of predicting the price of cars, it is generally not recommended to drop rows with missing values, as this can significantly reduce the size of the dataset and may introduce bias into the analysis. Imputing the missing values with the mean or median of the respective columns is a common approach and can help to preserve the sample size and reduce the bias in the analysis. However, it is important to carefully consider the potential impact of imputed values on the accuracy and interpretability of the analysis.

## My work

I have used option 2, computing mean of values of particular column and replacing it with the NaN, only work on X set of data not Y.  

1. Torque column has all integer related values or NaN hence no problem to update.
2. Engine Size needs more rigourus work since it has both string and double values.

## remove repetitive data

In [21]:
# Remove duplicate rows based on all columns
print("Before duplicates were removed, no of rows = ", len(dataset), "\n")
dataset = dataset.drop_duplicates()
print(dataset)
print("\nAfter duplicates were removed, no of rows = ", len(dataset))

Before duplicates were removed, no of rows =  1007

         Car Make Car Model  Year Engine Size (L) Horsepower Torque (lb-ft)  \
0         Porsche       911  2022               3        379            331
1     Lamborghini   Huracan  2021             5.2        630            443
2         Ferrari   488 GTB  2022             3.9        661            561
3            Audi        R8  2022             5.2        562            406
4         McLaren      720S  2021               4        710            568
...           ...       ...   ...             ...        ...            ...
999        Nissan      370Z  2021             3.7        332            270
1002   Koenigsegg     Jesko  2022               5       1280           1106
1003        Lotus     Evija  2021  Electric Motor       1972           1254
1005       Pagani    Huayra  2021               6        764            738
1006        Rimac    Nevera  2021  Electric Motor       1888           1696

     0-60 MPH Time (seconds) Price (in USD)
0                          4        101,200
1                        2.8        274,390
2                          3        333,750
3                        3.2        142,700
4                        2.7        298,000
...                      ...            ...
999                      5.1         30,090
1002                     2.5      3,000,000
1003                       2      2,000,000
1005                       3      2,600,000
1006                    1.85      2,400,000

[719 rows x 8 columns]

After duplicates were removed, no of rows =  719

## check for NaN data

In [22]:
#counting number of missing values
missing_values = pd.DataFrame(dataset).isnull().sum().sum()
print("\n\nNumber of missing values in dataset:", missing_values)
# Display all rows with missing values NaN
missing_rows = dataset[dataset.isnull().any(axis=1)]
print("Rows with missing values:\n", missing_rows)

# Splitting the attributes into independent and dependent attributes
X = dataset.iloc[:, :-1].values # all are independent attributes except last
Y = dataset.iloc[:, -1].values # dependent attribute is the price i.e. the last column


print(X,Y)

Number of missing values in dataset: 13
Rows with missing values:
      Car Make       Car Model  Year Engine Size (L) Horsepower Torque (lb-ft)  \
168     Rimac           C_Two  2022             NaN       1914           1696
171     Tesla   Model S Plaid  2021             NaN       1020           1050
222   Porsche  Taycan Turbo S  2021             NaN        750            774
247     Tesla   Model S Plaid  2022             NaN       1020           1050
387     Rimac           C_Two  2022             NaN       1888           1696
389     Tesla        Roadster  2022             NaN     10000+              0
642     Tesla   Model S Plaid  2021        Electric       1020            NaN
686     Rimac           C_Two  2022             NaN       1914           1696
697     Lotus           Evija  2022             NaN       1972           1254
752   Porsche          Taycan  2022             NaN        469            479
878  Maserati     GranTurismo  2021        Electric        550            NaN
916     Tesla        Roadster  2022             NaN    10,000+            NaN

    0-60 MPH Time (seconds) Price (in USD)
168                     1.9      2,400,000
171                    1.98        131,190
222                     2.6        185,000
247                     1.9        131,190
387                     1.8      2,400,000
389                     1.9        200,000
642                     1.9        139,990
686                    1.85      2,400,000
697                     2.5      2,700,000
752                     3.8         79,900
878                     2.8        200,000
916                     1.9        200,000
[['Porsche' '911' 2022 ... '379' '331' '4']
 ['Lamborghini' 'Huracan' 2021 ... '630' '443' '2.8']
 ['Ferrari' '488 GTB' 2022 ... '661' '561' '3']
 ...
 ['Lotus' 'Evija' 2021 ... '1972' '1254' '2']
 ['Pagani' 'Huayra' 2021 ... '764' '738' '3']
 ['Rimac' 'Nevera' 2021 ... '1888' '1696' '1.85']] ['101,200' '274,390' '333,750' '142,700' '298,000' '130,000' '118,500'
 '59,900' '81,000' '212,000' '201,495' '3,000,000' '61,000' '70,100'
 '2,800,000' '92,950' '104,450' '150,000' '62,000' '78,000' '75,000'
 '225,000' '225,000' '248,000' '2,800,000' '155,000' '2,400,000' '100,200'
 '517,770' '625,000' '117,000' '225,000' '72,800' '222,000' '64,695'
 '500,000' '45,690' '104,000' '218,000' '222,000' '57,000' '210,000'
 '148,500' '132,000' '58,900' '518,000' '56,200' '192,500' '71,800'
 '68,000' '42,500' '39,000' '46,100' '142,100' '105,000' '87,200'
 '218,000' '222,000' '52,500' '241,000' '103,500' '146,000' '75,400'
 '58,900' '42,900' '78,595' '500,000' '62,750' '417,826' '150,980'
 '70,100' '30,090' '88,700' '67,600' '72,800' '59,900' '274,280' '52,915'
 '218,009' '61,000' '159,495' '142,086' '219,800' '3,000,000' '74,290'
 '71,900' '3,000,000' '92,950' '134,300' '26,830' '213,195' '221,580'
 '2,800,000' '100,550' '2,400,000' '330,000' '200,000' '43,090'
 '1,700,000' '60,500' '522,000' '67,000' '212,500' '75,000' '155,000'
 '64,000' '500,000' '31,015' '304,995' '192,500' '190,000' '222,000'
 '115,000' '59,000' '102,100' '417,826' '304,995' '220,300' '114,000'
 '239,100' '192,500' '62,500' '65,290' '219,750' '187,700' '222,004'
 '71,350' '146,000' '68,900' '517,770' '276,550' '63,700' '44,000'
 '51,720' '45,790' '88,550' '218,009' '222,620' '56,200' '200,000'
 '84,595' '77,500' '157,500' '204,100' '220,300' '120,000' '69,900'
 '105,950' '150,000' '204,550' '2,700,000' '102,900' '2,400,000' '330,000'
 '1,000,000' '131,190' '43,090' '123,500' '3,400,000' '61,500' '518,000'
 '507,000' '109,000' '228,000' '42,000' '45,000' '185,000' '276,550'
 '56,000' '191,000' '104,000' '69,900' '81,250' '517,700' '330,000'
 '109,000' '242,500' '77,000' '62,000' '76,000' '500,000' '30,090'
 '87,200' '3,000,000' '274,280' '114,000' '103,200' '177,700' '417,650'
 '115,045' '256,500' '59,895' '152,500' '69,995' '185,000' '218,009'
 '363,730' '183,300' '73,795' '183,000' '60,995' '207,000' '203,825'
 '103,200' '157,500' '99,800' '100,200' '67,150' '77,250' '58,900'
 '71,490' '150,400' '47,820' '330,000' '38,170' '131,190' '102,000'
 '393,695' '218,750' '114,000' '256,500' '40,590' '52,720' '45,000'
 '174,300' '222,004' '625,000' '67,895' '62,290' '304,995' '93,050'
 '101,200' '75,100' '64,195' '105,000' '211,000' '275,000' '2,998,000'
 '3,000,000' '573,966' '2,400,000' '3,500,000' '2,500,000' '157,500'
 '146,000' '219,800' '70,000' '61,600' '52,200' '100,450' '134,300'
 '102,550' '76,400' '69,000' '417,826' '247,500' '45,790' '79,900'
 '119,000' '307,820' '207,825' '2,998,000' '202,500' '185,000' '417,826'
 '276,550' '114,000' '84,595' '275,000' '63,000' '103,200' '96,950'
 '134,300' '358,000' '30,000' '2,600,000' '180,000' '131,100' '201,495'
 '82,190' '96,950' '159,495' '76,950' '202,500' '70,100' '3,000,000'
 '132,795' '215,500' '80,900' '59,900' '330,000' '200,000' '40,000'
 '209,000' '202,500' '67,500' '2,800,000' '92,950' '104,200' '133,050'
 '196,350' '69,900' '2,600,000' '338,000' '200,000' '150,000' '218,400'
 '73,000' '103,200' '104,970' '132,400' '101,200' '200,000' '71,500'
 '71,800' '118,795' '218,750' '61,600' '517,700' '240,000' '221,400'
 '202,500' '64,100' '2,800,000' '150,980' '81,550' '3,500,000' '102,550'
 '2,400,000' '330,000' '200,000' '207,825' '64,195' '62,250' '92,000'
 '204,550' '141,190' '75,100' '64,995' '126,190' '500,000' '102,900'
 '417,650' '205,000' '81,250' '115,045' '75,695' '42,000' '71,490'
 '500,000' '2,800,000' '93,050' '2,750,000' '210,000' '326,050' '102,500'
 '417,650' '218,750' '69,000' '256,500' '70,000' '44,500' '51,000'
 '45,000' '3,000,000' '2,600,000' '2,300,000' '3,600,000' '2,400,000'
 '59,900' '393,695' '215,000' '75,100' '210,000' '63,700' '62,000'
 '42,500' '36,120' '45,790' '146,000' '220,000' '62,000' '280,000'
 '69,900' '208,800' '72,800' '60,500' '393,695' '75,100' '208,800'
 '229,000' '46,200' '71,000' '308,000' '80,500' '105,900' '96,950'
 '150,980' '180,800' '94,000' '67,150' '70,900' '134,300' '76,450'
 '64,000' '61,500' '500,000' '198,950' '77,950' '62,000' '417,826'
 '67,600' '71,800' '314,500' '214,425' '3,000,000' '71,490' '105,900'
 '2,800,000' '104,400' '150,980' '102,000' '2,400,000' '335,550' '141,990'
 '157,500' '220,000' '1,550,000' '157,500' '308,000' '65,000' '63,100'
 '2,600,000' '185,000' '2,400,000' '140,000' '325,000' '500,000' '307,820'
 '80,190' '68,745' '38,170' '139,990' '5,200,000' '1,500,000' '185,000'
 '65,000' '114,000' '102,550' '393,695' '460,247' '110,045' '77,400'
 '46,815' '67,895' '85,000' '218,009' '162,900' '245,000' '3,000,000'
 '100,200' '74,750' '218,400' '103,500' '70,595' '500,000' '203,500'
 '221,580' '47,190' '62,000' '61,500' '393,695' '222,630' '75,400'
 '208,000' '58,900' '96,250' '25,000' '88,550' '109,000' '103,800'
 '117,000' '72,800' '228,000' '48,000' '307,820' '93,000' '202,500'
 '131,190' '346,300' '3,599,000' '1,050,000' '186,350' '205,600' '201,000'
 '3,000,000' '67,000' '64,000' '340,000' '517,770' '325,000' '40,000'
 '101,000' '2,400,000' '139,990' '43,000' '58,900' '45,000' '69,995'
 '305,000' '75,000' '68,000' '203,825' '58,900' '63,000' '45,000'
 '222,630' '204,995' '71,800' '243,600' '47,190' '113,000' '161,200'
 '310,000' '2,600,000' '2,400,000' '1,000,000' '1,800,000' '517,000'
 '110,000' '300,000' '68,000' '2,700,000' '330,000' '205,000' '229,000'
 '100,000' '135,000' '63,000' '67,150' '62,195' '28,000' '69,900' '30,090'
 '68,000' '147,500' '417,650' '115,000' '208,000' '250,000' '46,100'
 '180,000' '250,000' '70,000' '200,000' '148,500' '245,000' '67,800'
 '211,300' '222,500' '43,995' '208,000' '103,500' '152,995' '274,280'
 '102,550' '79,900' '109,000' '71,800' '180,000' '190,000' '218,000'
 '235,000' '67,600' '335,000' '63,000' '573,966' '68,000' '210,000'
 '50,000' '200,000' '49,000' '30,090' '142,086' '225,000' '3,000,000'
 '68,000' '63,700' '98,395' '190,000' '517,000' '168,000' '64,500'
 '46,000' '102,000' '77,500' '147,000' '193,000' '64,000' '162,000'
 '76,700' '208,800' '58,900' '69,000' '43,000' '35,000' '151,000' '69,000'
 '62,500' '200,000' '5,200,000' '2,400,000' '63,000' '142,086' '83,250'
 '114,000' '74,700' '77,600' '181,100' '417,826' '329,100' '59,900'
 '59,900' '81,250' '517,000' '222,620' '77,000' '43,995' '51,720' '46,610'
 '88,550' '625,000' '120,000' '74,000' '50,000' '63,995' '202,500'
 '2,900,000' '275,000' '201,500' '80,190' '62,750' '92,000' '2,800,000'
 '200,000' '332,500' '81,250' '198,995' '200,000' '25,000' '72,000'
 '62,750' '254,995' '30,000' '114,000' '220,000' '3,000,000' '59,900'
 '75,100' '60,695' '274,390' '64,700' '517,770' '99,990' '150,800'
 '67,600' '45,790' '88,800' '38,170' '200,000' '393,695' '76,350'
 '202,000' '96,000' '33,000' '75,250' '201,495' '201,000' '62,000'
 '99,000' '150,000' '149,995' '78,595' '37,500' '38,500' '208,800'
 '71,450' '47,820' '134,150' '71,800' '393,695' '250,000' '171,200'
 '321,000' '100,500' '195,000' '114,000' '78,100' '70,000' '78,450'
 '141,190' '190,000' '52,915' '147,000' '3,900,000' '2,600,000'
 '2,000,000' '2,500,000' '210,000' '59,900' '210,000' '58,900' '254,500'
 '27,205' '30,090' '3,000,000' '2,000,000' '2,600,000' '2,400,000']

## remove all 13 NaN available rows

In [23]:
dataset=dataset.dropna()
dataset

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"
...,...,...,...,...,...,...,...,...
999,Nissan,370Z,2021,3.7,332,270,5.1,"30,090"
1002,Koenigsegg,Jesko,2022,5,1280,1106,2.5,"3,000,000"
1003,Lotus,Evija,2021,Electric Motor,1972,1254,2,"2,000,000"
1005,Pagani,Huayra,2021,6,764,738,3,"2,600,000"
1006,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000"

## repair torque

In [24]:
# Replace blank values with NaN
dataset['Torque (lb-ft)'].replace('', np.nan, inplace=True)

# Replace hyphen values with NaN
dataset['Torque (lb-ft)'].replace('-', np.nan, inplace=True)

# Replace values like '10,000+' with 10000
regex = r'(\d{1,3}(,\d{3})?)(\+)?' # match digits, optionally separated by commas, followed by a plus sign
dataset['Torque (lb-ft)'] = dataset['Torque (lb-ft)'].apply(lambda x: int(re.sub(',', '', re.sub('\+', '', re.sub(regex, r'\1', x)))) if isinstance(x, str) else x)

# Compute the mean of the "Torque (lb-ft)" column
torque_mean = dataset['Torque (lb-ft)'].mean()

# Replace NaN values with the mean of the column
dataset['Torque (lb-ft)'].fillna(torque_mean, inplace=True)


print(dataset['Torque (lb-ft)'])

0        331.0
1        443.0
2        561.0
3        406.0
4        568.0
         ...
999      270.0
1002    1106.0
1003    1254.0
1005     738.0
1006    1696.0
Name: Torque (lb-ft), Length: 707, dtype: float64

## repair mph time

In [25]:
# Replace values like '< 1.9' with just 1.9
regex = r'< (\d+\.\d+)' # match '< ' followed by a number with decimal point
dataset['0-60 MPH Time (seconds)'] = dataset['0-60 MPH Time (seconds)'].apply(lambda x: float(re.sub(regex, r'\1', x)) if isinstance(x, str) else x)

print(dataset['0-60 MPH Time (seconds)'])

0       4.00
1       2.80
2       3.00
3       3.20
4       2.70
        ...
999     5.10
1002    2.50
1003    2.00
1005    3.00
1006    1.85
Name: 0-60 MPH Time (seconds), Length: 707, dtype: float64

## repair Horsepower

In [26]:
# update values containing , and + 
# Replace values like '10,000+' with 10000
regex = r'(\d{1,3}(,\d{3})?)(\+)?' # match digits, optionally separated by commas, followed by a plus sign
dataset['Horsepower'] = dataset['Horsepower'].apply(lambda x: int(re.sub(',', '', re.sub('\+', '', re.sub(regex, r'\1', x)))) if isinstance(x, str) else x)


print(dataset['Horsepower'])

0        379
1        630
2        661
3        562
4        710
        ...
999      332
1002    1280
1003    1972
1005     764
1006    1888
Name: Horsepower, Length: 707, dtype: int64

## repair Engine size

In [27]:
for i, row in dataset.iterrows():
    value = row['Engine Size (L)']

    if isinstance(value, float) or isinstance(value, int):
        dataset.at[i, 'Engine Size (L)'] = float(value)
        continue
    elif value == 'Hybrid':
        # extract the numerical value from the string, if present
        num_val = re.findall(r'\d+\.\d+|\d+', value)
        if num_val:
            dataset.at[i, 'Engine Size (L)'] = float(num_val[0])
        else:
            dataset.at[i, 'Engine Size (L)'] = 0.0
    elif '-' in value or 'Electric' in value or pd.isna(value):
        dataset.at[i, 'Engine Size (L)'] = 0.0
    else:
        # remove non-numeric characters before converting to float
        value = re.sub('[^0-9\.]', '', value)
        dataset.at[i, 'Engine Size (L)'] = float(value)

# Convert all NaN values in the "Engine Size (L)" column to 0.0
dataset['Engine Size (L)'] = dataset['Engine Size (L)'].fillna(0.0)

print(dataset['Engine Size (L)'])

0       3.0
1       5.2
2       3.9
3       5.2
4       4.0
       ...
999     3.7
1002    5.0
1003    0.0
1005    6.0
1006    0.0
Name: Engine Size (L), Length: 707, dtype: float64

## covert price column to appropriate type by removing commas

In [28]:
regex = r'(\d{1,3}(,\d{3})?)(\+)?' # match digits, optionally separated by commas, followed by a plus sign
dataset['Price (in USD)'] = dataset['Price (in USD)'].apply(lambda x: int(re.sub(',', '', re.sub('\+', '', re.sub(regex, r'\1', x)))) if isinstance(x, str) else x)

print(dataset['Price (in USD)'])

0        101200
1        274390
2        333750
3        142700
4        298000
         ...
999       30090
1002    3000000
1003    2000000
1005    2600000
1006    2400000
Name: Price (in USD), Length: 707, dtype: int64

## Car make and model update

In the case of columns 'car maker' and 'car model' with repeated string values, it is ideal to encode them into numerical values using techniques such as Label Encoding or One-Hot Encoding.

Label Encoding involves assigning a numerical label to each unique category in the column, and One-Hot Encoding creates a new binary column for each unique category in the column.

Using One-Hot Encoding, the same column could be transformed into multiple binary columns.

Google to know more...

In [29]:
print("Distinct car makers : ",len(set(dataset['Car Make'])))
print("Distinct car models : ",len(set(dataset['Car Model'])))

Distinct car makers :  38
Distinct car models :  176

## Label encoding used
This will replace the string values in the Car Make and Car Model columns with their corresponding integer codes. The advantage of using label encoding is that it preserves the order of the original values, and can be easily reversed if needed.

In [30]:

# Label encode Car Make column
le_make = LabelEncoder()
dataset['Car Make'] = le_make.fit_transform(dataset['Car Make'])

# Label encode Car Model column
le_model = LabelEncoder()
dataset['Car Model'] = le_model.fit_transform(dataset['Car Model'])

print(dataset['Car Make'], dataset['Car Model'],sep="\n\n")

0       28
1       16
2       11
3        5
4       21
        ..
999     24
1002    15
1003    18
1005    25
1006    29
Name: Car Make, Length: 707, dtype: int32

0        18
1        98
2         5
3       130
4        15
       ...
999       1
1002     99
1003     76
1005     95
1006    122
Name: Car Model, Length: 707, dtype: int32

## final check of all datatypes of columns in dataset

In [31]:

print(dataset.dtypes)

missing_values = pd.DataFrame(dataset).isnull().sum().sum()
print("\n\nNumber of missing values in dataset:", missing_values)
# Display all rows with missing values NaN
missing_rows = dataset[dataset.isnull().any(axis=1)]
print("Rows with missing values:\n", missing_rows)

Car Make                     int32
Car Model                    int32
Year                         int64
Engine Size (L)            float64
Horsepower                   int64
Torque (lb-ft)             float64
0-60 MPH Time (seconds)    float64
Price (in USD)               int64
dtype: object


Number of missing values in dataset: 0
Rows with missing values:
 Empty DataFrame
Columns: [Car Make, Car Model, Year, Engine Size (L), Horsepower, Torque (lb-ft), 0-60 MPH Time (seconds), Price (in USD)]
Index: []

## Train test split

To train the data, you first need to split your dataset into training and testing sets. The training set is used to train the model, while the testing set is used to evaluate its performance on unseen data. You can use the train_test_split() function from scikit-learn library to split your dataset into training and testing sets.

This will split your data into training and testing sets, where test_size specifies the proportion of the data to be used for testing (in this case, 20% of the data), and random_state is used to ensure that the split is reproducible.

X_train and y_train will contain the training data, which will be used to fit the model, while X_test and y_test will contain the testing data, which will be used to evaluate the performance of the model.

During training, the algorithm will use X_train and y_train to learn the patterns in the data and fit the model. Once the model is trained, X_test will be used to make predictions, and y_test will be used to evaluate the performance of the model.

The amount of data used for training and testing depends on the test_size parameter.generally, it's recommended to use a test size of around 20-30% to ensure that the model is well-evaluated on unseen data.

In [32]:
# Splitting the attributes into independent and dependent attributes
# X = dataset.iloc[:, :-1].values # all are independent attributes except last
X = dataset.iloc[:, [0, 1, 4, 6]].values # avoidng engine size
Y = dataset.iloc[:, -1].values # dependent attribute is the price i.e. the last column

# split data into training and testing sets 80 - 20 size
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

print(X_train, y_train, X_test, y_test, sep="\n\n")

[[  9.   52.  650.    3.5]
 [  7.   69.  650.    3.5]
 [ 13.   79.  296.    5.4]
 ...
 [ 21.   86.  612.    3.1]
 [ 23.   31.  577.    3.5]
 [  5.  146.  591.    3.5]]

[  69000  300000   61600  221400   99990   62000  208000   61500  518000
   92950   75400   38170  346300 2600000   84595  215500   75000  146000
   81250 2750000  220300  225000  517770   59900  500000  157500  126190
  417650   52915  330000  417826   45000 2600000   67000  162000   68000
  417826  500000   96950   85000  132400   64995  210000  222630  100000
  276550  573966  103500   64695 2600000 3000000   45790   69900  193000
  123500  207825  211000   71800  103200  218750   71800   61000  228000
 1050000   51000  100200  103200  507000   76450  218009 2800000 3000000
  500000  625000   63700   67000   60695  202500 2400000  245000   80190
   92950  307820 2800000  118500  104200   30090  417826  141990  340000
  517000  155000   47820  256500 3000000   96950   76950  105000   71000
  213195  120000  500000   67150 2300000  114000  150000  150000   52720
  229000  220000  180000   63100  192500   46200   77250  200000  152500
  114000   96250  183300  307820   44000 2998000  109000  500000   78100
   78450   58900  200000  181100  214425   70900   26830  215000   30090
  101200   56200  517700  220000  205000   31015   51720   77950   67895
  314500  212500  304995  393695  139990   98395  134300 2600000 3000000
  222004   71800   71800   62000  142086   62290 2400000  104400 2400000
  240000  142700   45790   75100  417650  185000  133050   58900 2600000
   25000  304995  517000   78595   59900   25000  134150  147000   75400
   69000   30090  115000  142086   40000   75000   78595 2600000   71350
  185000   68000   44500   69000  222620   46815   59900   64700   71500
  205600  177700 2800000 1000000  105000  117000  180000   92000  522000
   59900   46000   37500 3500000  218000  103500 2000000  114000  150980
  275000  202000 3000000  150400   65000  198950  191000  218000   60500
  190000  200000  245000   58900 2400000   45000  187700   43090  417650
  241000   65000  103200  201495  102550  500000  105900  118795  222620
  518000   39000  393695  117000  210000 3600000 3000000   38170   45000
  200000   72800  132795  203500  298000   50000   67800   68745   63995
  130000   77500  517000   88550   70595  208800   81250  225000   62750
   96950   80900   30000  141190 3000000  174300  254995  150980  101000
  192500  142086 2000000   70100   68000   70000  250000  109000  147000
 2500000   72800   47190   43000  203825   67150   73795   69995  304995
   46100   62750  185000  500000  104450   58900  229000   88800   64000
  305000   99000  204550   93050   46610   67600   63000  100550  103500
   80190 3000000   62500  326050   75250   74750  207000  120000  150980
 2700000   47190  222000  110000 1800000   75100  148500 3500000   79900
  332500 1000000 2500000   45000  150980  333750   75695  222004   96000
   69900  209000  219800  625000  102000  102100   45000   30090   49000
   67600   62000   50000   45790  104000  210000  280000  115000   88550
  114000   71450   59895  218009   77400   35000  119000 5200000   75100
 2900000  202500  149995  190000  275000  222000  134300   58900   42000
  146000  393695  203825  140000   67150   69900   67600   94000  202500
   76700  151000   40590   77500 1550000   56200  102000   69000   77600
  517770 3000000   62750 2800000  393695  256500  517770  102500  222000
   56000   71490 1500000  201495   63000  573966  205000  200000   58900
   64195   62500   63000   75100  110045  220300   61500  155000  190000
  204550  330000  135000  221580  200000  417826  102550  200000   76400
  218009   71490   78000   92000  196350  358000   93050 2400000  161200
   70100  330000   33000  460247  103200   36120  625000   52915   82190
  201000  274280   72800  159495  101200 3000000  132000 3000000   45690
   52500  210000  105900  235000   47820  150000   43000  219750  225000
 1700000   69900  276550  248000   51720  274280   42500  243600  208800
  157500   63700  152995  329100  308000 2800000  207825   74700   60995
  330000  195000   69900  168000  104970  190000  146000  101200  204100
   87200   63700  192500  330000  100200   74290 2800000   63000   59900
   64000  221580  219800  325000  239100   67500  222000   81550 2998000
  208800  102550  148500   43995   80500  102900  131100  201000  222500
  142100   62000   68900  517770  114000  500000  204995  102900   52200
  250000   70000   72000   63000   40000  308000  105950   76350   76000
   60500   67895  500000  417826   88700  417650   71800  210000  242500
   92950   43995  186350  517700  134300 5200000   88550   70100  200000
  159495  212000 2600000  218009  201500  180000  114000]

[[7.000e+00 6.800e+01 6.260e+02 3.600e+00]
 [1.600e+01 3.400e+01 7.700e+02 2.800e+00]
 [5.000e+00 1.450e+02 5.910e+02 3.500e+00]
 [2.100e+01 1.100e+01 5.920e+02 2.800e+00]
 [2.300e+01 1.550e+02 6.220e+02 3.600e+00]
 [1.000e+01 5.900e+01 7.170e+02 3.500e+00]
 [7.000e+00 6.800e+01 6.260e+02 3.300e+00]
 [2.300e+01 2.900e+01 6.300e+02 3.100e+00]
 [5.000e+00 1.400e+02 3.940e+02 3.900e+00]
 [2.200e+01 8.900e+01 7.200e+02 3.100e+00]
 [1.000e+00 9.200e+01 5.050e+02 3.800e+00]
 [6.000e+00 1.070e+02 5.030e+02 3.800e+00]
 [2.900e+01 4.700e+01 1.914e+03 1.800e+00]
 [1.800e+01 7.800e+01 4.160e+02 3.800e+00]
 [1.500e+01 9.900e+01 1.280e+03 2.500e+00]
 [3.700e+01 1.030e+02 7.800e+02 2.800e+00]
 [2.800e+01 1.230e+02 3.250e+02 5.100e+00]
 [1.800e+01 7.800e+01 4.160e+02 3.800e+00]
 [2.800e+01 1.900e+01 6.400e+02 2.600e+00]
 [1.200e+01 1.200e+02 7.600e+02 3.500e+00]
 [6.000e+00 1.040e+02 4.050e+02 4.000e+00]
 [1.300e+01 7.900e+01 3.800e+02 4.900e+00]
 [2.100e+01 8.600e+01 6.200e+02 3.100e+00]
 [3.000e+01 1.720e+02 6.240e+02 4.400e+00]
 [3.000e+01 1.720e+02 6.240e+02 4.400e+00]
 [2.800e+01 5.400e+01 4.140e+02 4.200e+00]
 [2.300e+01 1.550e+02 7.300e+02 2.900e+00]
 [2.300e+01 1.550e+02 5.770e+02 3.600e+00]
 [1.100e+01 8.200e+01 7.100e+02 2.800e+00]
 [6.000e+00 1.750e+02 3.690e+02 4.200e+00]
 [2.100e+01 3.200e+01 6.710e+02 3.000e+00]
 [1.200e+01 1.180e+02 4.600e+02 4.000e+00]
 [1.000e+01 5.500e+01 3.050e+02 6.400e+00]
 [2.900e+01 4.700e+01 1.914e+03 1.850e+00]
 [6.000e+00 1.040e+02 4.050e+02 4.100e+00]
 [1.600e+01 9.800e+01 6.300e+02 2.800e+00]
 [2.800e+01 1.200e+01 3.000e+02 4.900e+00]
 [2.100e+01 8.600e+01 6.200e+02 3.100e+00]
 [2.800e+01 1.640e+02 4.690e+02 3.800e+00]
 [4.000e+00 7.400e+01 7.150e+02 3.400e+00]
 [2.800e+01 1.300e+01 3.000e+02 4.900e+00]
 [9.000e+00 5.200e+01 6.500e+02 3.500e+00]
 [2.800e+01 1.640e+02 4.020e+02 5.100e+00]
 [1.600e+01 3.400e+01 7.590e+02 2.900e+00]
 [8.000e+00 6.400e+01 1.500e+03 2.500e+00]
 [5.000e+00 1.430e+02 5.910e+02 3.500e+00]
 [2.300e+01 2.300e+01 5.030e+02 3.800e+00]
 [1.900e+01 9.300e+01 4.540e+02 4.700e+00]
 [9.000e+00 4.800e+01 4.550e+02 4.000e+00]
 [2.100e+01 9.000e+00 5.620e+02 3.100e+00]
 [1.500e+01 9.900e+01 1.262e+03 2.500e+00]
 [9.000e+00 7.100e+01 4.900e+02 2.800e+00]
 [3.400e+01 1.160e+02 1.020e+03 1.900e+00]
 [3.300e+01 9.400e+01 5.000e+02 3.900e+00]
 [8.000e+00 6.500e+01 1.500e+03 2.300e+00]
 [3.400e+01 1.160e+02 1.020e+03 1.980e+00]
 [2.800e+01 5.400e+01 4.140e+02 3.800e+00]
 [2.400e+01 3.000e+00 3.500e+02 4.800e+00]
 [1.000e+01 5.900e+01 7.170e+02 3.500e+00]
 [9.000e+00 5.200e+01 6.500e+02 3.500e+00]
 [2.300e+01 1.550e+02 6.220e+02 3.600e+00]
 [1.500e+01 1.000e+02 1.600e+03 2.100e+00]
 [1.100e+01 1.480e+02 6.120e+02 3.300e+00]
 [1.000e+01 5.900e+01 7.170e+02 3.500e+00]
 [6.000e+00 1.070e+02 4.730e+02 4.000e+00]
 [2.200e+01 8.900e+01 7.200e+02 3.100e+00]
 [1.000e+01 5.600e+01 7.170e+02 3.500e+00]
 [5.000e+00 1.440e+02 5.910e+02 3.500e+00]
 [2.800e+01 1.300e+01 3.000e+02 4.500e+00]
 [5.000e+00 1.460e+02 5.910e+02 3.500e+00]
 [1.300e+01 7.900e+01 2.960e+02 5.400e+00]
 [6.000e+00 1.040e+02 4.050e+02 4.200e+00]
 [1.100e+01 1.280e+02 5.910e+02 3.300e+00]
 [1.000e+01 5.900e+01 7.170e+02 3.500e+00]
 [1.000e+01 5.900e+01 7.170e+02 3.500e+00]
 [9.000e+00 4.900e+01 4.550e+02 4.100e+00]
 [2.200e+01 4.100e+01 5.030e+02 3.700e+00]
 [4.000e+00 7.400e+01 7.150e+02 3.200e+00]
 [5.000e+00 1.450e+02 5.910e+02 3.500e+00]
 [2.100e+01 8.000e+00 5.620e+02 3.100e+00]
 [1.100e+01 8.200e+01 7.100e+02 2.800e+00]
 [2.800e+01 1.640e+02 6.160e+02 2.600e+00]
 [4.000e+00 7.300e+01 6.300e+02 3.500e+00]
 [1.600e+01 3.400e+01 7.700e+02 2.900e+00]
 [1.700e+01 1.020e+02 4.710e+02 4.400e+00]
 [1.200e+01 1.170e+02 3.100e+02 5.300e+00]
 [5.000e+00 1.360e+02 5.910e+02 3.500e+00]
 [2.300e+01 4.200e+01 4.690e+02 3.900e+00]
 [2.900e+01 4.700e+01 1.914e+03 1.900e+00]
 [2.300e+01 2.800e+01 6.300e+02 3.100e+00]
 [2.800e+01 1.400e+01 4.140e+02 4.200e+00]
 [8.000e+00 6.400e+01 1.500e+03 2.300e+00]
 [3.200e+01 1.710e+02 3.100e+02 5.200e+00]
 [1.800e+01 7.800e+01 4.160e+02 3.700e+00]
 [1.300e+01 7.900e+01 3.800e+02 4.800e+00]
 [1.100e+01 1.700e+01 7.890e+02 2.900e+00]
 [2.400e+01 1.000e+00 3.320e+02 5.200e+00]
 [7.000e+00 6.800e+01 6.260e+02 3.300e+00]
 [1.600e+01 1.670e+02 6.410e+02 3.500e+00]
 [7.000e+00 6.800e+01 6.260e+02 3.300e+00]
 [6.000e+00 1.070e+02 5.030e+02 3.800e+00]
 [2.300e+01 3.100e+01 5.770e+02 3.500e+00]
 [1.100e+01 1.280e+02 5.910e+02 3.500e+00]
 [2.300e+01 2.600e+01 5.030e+02 3.800e+00]
 [4.000e+00 1.680e+02 5.030e+02 3.500e+00]
 [0.000e+00 1.210e+02 5.730e+02 2.700e+00]
 [5.000e+00 1.380e+02 5.910e+02 3.400e+00]
 [2.800e+01 1.650e+02 5.620e+02 3.800e+00]
 [4.000e+00 7.300e+01 6.300e+02 3.700e+00]
 [6.000e+00 1.070e+02 5.030e+02 3.800e+00]
 [5.000e+00 1.620e+02 3.940e+02 3.600e+00]
 [2.900e+01 4.700e+01 1.914e+03 1.900e+00]
 [2.300e+01 2.300e+01 4.690e+02 3.800e+00]
 [2.800e+01 3.800e+01 3.000e+02 4.700e+00]
 [4.000e+00 7.400e+01 7.150e+02 3.400e+00]
 [1.100e+01 8.200e+01 7.100e+02 2.800e+00]
 [9.000e+00 4.900e+01 4.550e+02 4.000e+00]
 [2.300e+01 1.560e+02 6.220e+02 3.500e+00]
 [2.800e+01 1.200e+01 3.000e+02 4.900e+00]
 [2.400e+01 3.000e+00 3.500e+02 4.800e+00]
 [2.300e+01 1.550e+02 6.220e+02 3.500e+00]
 [7.000e+00 6.800e+01 6.260e+02 3.600e+00]
 [1.000e+01 6.200e+01 7.070e+02 3.600e+00]
 [5.000e+00 1.340e+02 4.440e+02 3.500e+00]
 [2.800e+01 1.650e+02 4.290e+02 3.800e+00]
 [2.400e+01 2.000e+00 3.320e+02 5.000e+00]
 [2.100e+01 8.000e+00 5.620e+02 3.100e+00]
 [1.900e+01 9.300e+01 4.540e+02 4.800e+00]
 [9.000e+00 7.100e+01 4.900e+02 2.900e+00]
 [1.000e+01 6.200e+01 7.170e+02 3.600e+00]
 [2.800e+01 1.260e+02 6.300e+02 2.900e+00]
 [0.000e+00 1.210e+02 5.730e+02 2.900e+00]
 [1.600e+01 3.400e+01 7.700e+02 2.800e+00]
 [1.000e+01 6.000e+01 7.970e+02 3.500e+00]
 [1.100e+01 8.100e+01 7.100e+02 2.900e+00]
 [3.500e+01 1.610e+02 3.820e+02 3.900e+00]
 [1.000e+01 5.900e+01 7.170e+02 3.500e+00]
 [4.000e+00 7.400e+01 7.150e+02 3.200e+00]
 [9.000e+00 4.900e+01 4.550e+02 4.000e+00]
 [2.400e+01 3.000e+00 3.500e+02 5.000e+00]
 [1.900e+01 9.300e+01 4.540e+02 4.800e+00]
 [6.000e+00 1.050e+02 4.440e+02 4.000e+00]]

[ 202500  393695  115045  256500  200000   65290  218400  162900   57000
  330000   83250   74000 2400000  100450 2800000 3400000   87200  100500
  208000   81000   58900   71900  210000  338000  335550  102000  250000
  247500  275000  147500  225000   38500   28000 2400000   58900  274390
   62000  211300   81250  321000   59900   64195   81250  393695 3900000
  113000   70000  150800   62195  208800 3000000   59900  141190  157500
 3599000  131190  100200   45790   70000   64500  254500 2800000  222630
   68000   72800  325000   64000  109000   61000  115045   61600   59000
  218750   64100   61500   42500   77000  310000  114000  208000  276550
  185000  201495  417826   93000   27205  109000   77000 2400000  171200
  102550 3000000   38170   99800   62250  363730   30000  220000  218000
  202500   75000  183000  218750   68000  146000  157500  114000  104000
  198995   71800   68000 2400000   67600   62000  330000  274280   42900
  335000   62000   46100  228000  218400   69995   75100  103800   30090
  202500  134300   59900   71490  180800  157500  393695   73000  274390
   43090   64000  307820   42000   48000  150000   84595]

## Training  a model based on Linear regression

In [33]:
# Train a Linear Regression model
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = lr_model.predict(X_test)

# Evaluate the model using metrics
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))
print('R-squared score:', r2_score(y_test, y_pred))

Mean Squared Error: 340027449763.6413
Mean Absolute Error: 363378.49508805154
R-squared score: 0.41143792848950367

## Training model based on RandomForestRegression

In [34]:
# fit the model
model = RandomForestRegressor(random_state=1)
model.fit(X_train, y_train)
# make predictions
yhat = model.predict(X_test)
# evaluate predictions
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, yhat)
print('Mean Absolute Error : %.3f' % mae)
print('R-squared score:', r2_score(y_test, y_pred))

Mean Squared Error: 340027449763.6413
Mean Absolute Error : 75868.580
R-squared score: 0.41143792848950367

## Use XGB Regressor

In [35]:
# import xgboost
import xgboost as xgb

# fit the model
model = xgb.XGBRegressor(random_state=1)
model.fit(X_train, y_train)

# make predictions
y_pred3 = model.predict(X_test)
threshold = 0.5
y_pred3_binary = (y_pred3 >= threshold).astype(int)

# evaluate predictions
print('Mean Squared Error:', mean_squared_error(y_test, y_pred3_binary))
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred3_binary))
print('R-squared score:', r2_score(y_test, y_pred3_binary))

Mean Squared Error: 707662995907.6478
Mean Absolute Error: 360468.1267605634
R-squared score: -0.22491169195971583